.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-links-height));
}

pre > code[data-lang] {
    position: relative;
    padding: 50px 10px 10px 10px;
}

pre > code[data-lang]:before{
    position: absolute;
    top: 0;
    left: 15px;
    border-radius: 0 0 2px 2px;
    content: attr(data-lang)"\A";
    white-space: pre;
    background-color: grey;
    padding: 3px 15px;
}

.noTitle {
    padding: 10px 10px 10px 10px !important;
}

.noTitle:before {
    display: none;
}