<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page}}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{- partialCached "footer.html" . .Type .Layout .Params }}
<script>
    const code = document.querySelectorAll('code')
    const overWrite = async (slice) => {
        for await (let part of slice) {
            if (part.className === "") continue;
            let str = "";
            try {
                let strList = part.dataset.lang.split(":")
                strList.length === 1 ? str = "" : str = strList[1]
            } catch {
                str = ""
            } finally {
                if (str) {
                    part.dataset.lang = str
                }
            }
            if (str === "") {
                part.className = "noTitle"
            }
        }
    }; overWrite(code)
</script>
</body>

</html>
